<h1>Listing tasks</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Notes</th>
  </tr>

  <% @task.each do |task| %>
    <tr>
      <td><%= task.title %></td>
      <td><%= task.notes %></td>
      <td><%= link_to 'Show ', task_path(task) %></td>
      <td><%= link_to 'Edit ', edit_task_path(task) %></td>
      <td><%= link_to 'Destroy', task_path(task),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
